{% extends 'base.html' %}


{% block title %}
<title>Injured Finches</title>
{% endblock %}


{% block content %}

<h1>Current listing of Injured Finches</h1>



{% for finch in finches %}


<a href="{% url 'finches_detail' finch.id %}"> 
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ finch.name }}</span>
            <p>Native Region: {{ finch.native }}</p>
            <p>Description: {{ finch.description }}</p>

        </div>
    </div>
</a>


{% endfor %}
{% endblock %}

